* {
  box-sizing: border-box;
}

h1, p,
a {
  margin: 0;
}

a {
  color: inherit;
}

body, html {
  background: #F5F5F5;
  /*height: 100vh;*/
}

.wrap {
  /*background: gold;*/
  /*padding: .3em;*/
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1120px;
}

header {
  /*background: red;*/
  padding: 1.3em;
  text-align: center;
  margin-top: 20vh;
}

.title,
.wikiLink {
  font-family: 'Lora', serif;
}

.title {
  font-size: 3.2em;
}

.title,
.buttons,
p {
  color: #1C1C1C;
}

.searchInput {
  background: none;
  border: none;
  border-bottom: 1px solid #1C1C1C;
  outline: none;
  text-align: center;

  margin: 1em 0;
  line-height: 1.2;

  width: 55%;

  font-family: 'Roboto', sans-serif;
  font-size: 1.112em;
}

.searchInput,
.searchInput::-webkit-input-placeholder, /* Chrome/Opera/Safari */
.searchInput::-moz-placeholder, /* Firefox 19+ */
.searchInput:-ms-input-placeholder, /* IE 10+ */
.searchInput:-moz-placeholder { /* Firefox 18- */
  color: black;
}

.submitBtn,
.random {
  display: inline-block;
  margin: 0 auto;

  background: none;
  border: none;
  /*background: red;*/
  width: 2em;
  height: 2em;

  font-size: 1.4em;
}

li {
  background: #E8E8E8;
  padding: 1em;
  /*border-top: 1px solid black;
  border-bottom: 1px solid black;*/
  margin-bottom: .5em;
}

li:last-child {
  border-bottom: 0;
}

.wikiLink {
  font-size: 1.6em;
  color: #053B69;
  text-decoration: none;
  display: inline-block;
  margin-bottom: .3em;
}

.wikiLink:hover {
  color: #968713;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

p {
  font-size: .9em;
  line-height: 1.5;
}


/* ========== */

.moveHeaderToTop { /* moves header after 'keup' event */
  margin-top: 0;
  /*background: #F5F5F5;*/
  /*background: firebrick;*/
  text-align: left;

  font-size: .8em;
  display: flex;
  align-items: center;
}

.displayInlineBlk {
  display: inline-block;
}

.fltLeft {
  /*background: blue;*/
  /*color: red;*/
  float: left;
}

.widthTwenty {
  width: 20%;
  max-width: 80.84px;
}

.widthEighty {
  width: 80%;
  text-align: left;
}

.updatedSearchInput {
  text-align: left;
  margin-right: 1em;
  max-width:  401.69px;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
