* {
  box-sizing: border-box;
}

h1, p,
a {
  margin: 0;
}

body, html {
  background: #F5F5F5;
  /*height: 100vh;*/
}

.wrap {
  /*background: gold;*/
  /*padding: .3em;*/
  position: relative;
}

header {
  /*background: #F5F5F5;*/
  padding: .5em;
  text-align: center;
  margin-top: 20vh;
}

.title {
  /*padding: 0;*/
  /*background: red;*/
  font-size: 2.4em;
  /*margin-bottom: .3em;*/
}

.searchInput {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;

  margin: 1em 0;
}

.searchInput,
.searchInput::-webkit-input-placeholder, /* Chrome/Opera/Safari */
.searchInput::-moz-placeholder, /* Firefox 19+ */
.searchInput:-ms-input-placeholder, /* IE 10+ */
.searchInput:-moz-placeholder { /* Firefox 18- */
  color: black;
}

.submitBtn {
  display: block;
  margin: 0 auto;
}

li {
  background: #B2B2B2;
  padding: 1em;
  border-top: 1px solid black;
}

li:last-child {
  border-bottom: 1px solid black;
}

a {
  font-size: 1.5em;
}

p {
  font-size: .8em;
}


/* ========== */

.moveHeaderToTop { /* moves header after 'keup' event */
  margin-top: 0;
  /*background: #F5F5F5;*/
  background: firebrick;
  text-align: left;

  font-size: .8em;
  display: flex;
  align-items: center;
}

.displayInlineBlk {
  display: inline-block;
}

.fltLeft {
  background: blue;
  /*color: red;*/
  float: left;
}

.widthTwenty {
  width: 20%;
}

.widthEighty {
  width: 80%;
  text-align: left;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
