* {
  box-sizing: border-box;
}

h1, p,
a {
  margin: 0;
}

a {
  color: inherit;
}

body, html {
  background: #F5F5F5;
}

.wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1120px;
}

header {
  padding: 1.3em;
  text-align: center;
  margin-top: 20vh;
}

.title,
.wikiLink {
  font-family: 'Lora', serif;
}

.title {
  font-size: 3.2em;
}

.title,
.buttons,
p {
  color: #1C1C1C;
}

.searchInput {
  background-color: inherit;
  outline: none;
  text-align: center;

  margin: 1em 0;
  padding: .3em;
  line-height: 1.2;

  width: 12.444em; /*199.11px / 16px = 12.444em*/

  font-family: 'Roboto', sans-serif;
  font-size: 1.112em;

  border-radius: 0;
  -webkit-border-radius: 0;
}

.submitBtn,
.random {
  display: inline-block;
  margin: 0 auto;

  background: none;
  border: none;
  width: 2em;
  height: 2em;

  font-size: 1.4em;
}

li {
  background: #E8E8E8;
  padding: 1em;
  margin-bottom: .5em;
}

li:last-child {
  border-bottom: 0;
}

.wikiLink {
  font-size: 1.6em;
  color: #053B69;
  text-decoration: none;
  display: inline-block;
  margin-bottom: .3em;
}

.wikiLink:hover {
  color: #968713;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

p {
  font-size: .9em;
  line-height: 1.5;
}


/* Styles added after "moveHeader" function is invoked. See app.js */
.moveHeaderToTop {
  margin-top: 0;
  text-align: left;

  font-size: .8em;
  display: flex;
  align-items: center;
}

.displayInlineBlk {
  display: inline-block;
}

.fltLeft {
  float: left;
}

.widthTwenty {
  width: 20%;
  max-width: 80.84px;
}

.widthEighty {
  width: 80%;
  text-align: left;
}

.updatedSearchInput {
  text-align: left;
  max-width:  401.69px;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}


/*=== Media query ===*/
@media screen and (min-width: 1020px) {
  .title {
    font-size: 4.2em;
  }

  .widthTwenty {
    max-width: 100px;
  }
}
